--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

hf_transfer
numpy
xformers
diffusers
transformers
accelerate
beautifulsoup4
ftfy
webdataset
tensorboard
boto3
bitsandbytes
peft
timm
spacy
SentencePiece
safetensors
botocore
s3transfer
huggingface_hub
regex